* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

h1 {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 5rem;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #1f1657;
    background-size: cover;
    justify-content: center;
    padding: 5%;
}

#container{
    width: 95%;
    height: 95%;
    flex-shrink: 0;
 }

footer {
    font-size: 1rem;
    width: 100%;
    color: white;
    text-align: center;
    align-self: end;
}

footer a{
    text-decoration-line: none;
    color: green;
}

#start, #divDifficulty, #divSize, #valid #container,#end , body, #divSelect , #valid, #gameArea,.card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#start, #divSelect, #valid, #end{
    width: 100%;
    background-color: aliceblue;
    flex-direction: row;
}

#start, #end {
    height: 20%;
    padding: 0.5rem;
    justify-content: space-between;
}

#divSize,#divDifficulty {
    width: 50%;
    justify-content: space-between;
}

#valid {
    justify-content: flex-end;
}

button{
    width: 10%;
    font-size: 2rem;
}

.card {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 2%;
    border: 2px solid green;
    margin: 0.1rem;
    font-size: 5rem;
    justify-content: center;
}

#gameArea {
    width: 100%;
    height: 100%;
}


#endText, #start{
    font-size: 2rem;
}

@media screen and (max-width: 850px){
    #start, #divSelect{
        flex-wrap: nowrap;
        flex-direction: column;
        width: 100%;
    }
    #divSize,#divDifficulty {
        width: 100%;
    }
    button {
        width: 20%;
    }
}

@media screen and (max-width: 750px){
    #end {
        flex-wrap: nowrap;
        flex-direction: column;
        width: 100%;
    }
}

@media screen and (max-width: 500px){
    #divSize,#divDifficulty {
        flex-wrap: nowrap;
        flex-direction: column;
    }
    button {
        width: 30%;
    }
    #start, #end {
        height: 25%;
    }
}